<form
    [formGroup]="form"
    name="formGroup"
    novalidate style="margin-top: 20px; display: flex; justify-content: center; align-items: center; ">
    <div style="width: 50%;">
        <div class="font-bold mb-4">
            Availability, Quantity, Category of Land: Is the availability, the quantity, and the category of the land clearly stated?
        </div><br>
        
        <div class="my-4">    
            <app-radio-field [control]="form.get('valueA')"
                [label]="'a) Check the availability of information'"
                [option1]="{ label: 'Information is available', value: true }"
                [option2]="{ label: 'Information is not available (skip b and go to c)', value: false }">
            </app-radio-field>
        </div>
        <br />     
            <app-radio-field [control]="form.get('valueB')"
                [label]="'b) Check the quality of information'"
                [option1]="{ label: 'Appropriate as indicated', value: true }"
                [option2]="{ label: 'Needs amendment', value: false }">
            </app-radio-field>
            <br />
            <app-textarea-field
                [label]="'c) Remarks and suggestions'"
                [control]="form.get('valueC')">
            </app-textarea-field>
         
    </div>    
</form>
